.window {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.content {
    background-color: #32363C;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.content button {
    border: none;
    background-color: #1C1F24;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    cursor: pointer;
}

.content .form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: gray;
    --_m: 
        conic-gradient(#0000 10%,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: loader 1s infinite linear;
}
@keyframes loader {to{transform: rotate(1turn)}}