.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

.play-field {
    max-width: 100vw;
    background-color: #2C2F35;
    color: white;
    height: 90vh;
    margin-top: 10vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: hidden;
    flex-grow: 1;
}