.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1C1F24;
}

.play-field {
    max-width: 100vw;
    background-color: #2C2F35;
    color: white;
    height: 90vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: hidden;
    flex-grow: 1;
}

.header {
    color: white;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.window {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.content {
    background-color: #32363C;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.content button {
    border: none;
    background-color: #1C1F24;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    cursor: pointer;
}

.content .form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: gray;
    --_m: 
        conic-gradient(#0000 10%,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: loader 1s infinite linear;
}
@keyframes loader {to{transform: rotate(1turn)}}





.coins {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coins img {
    width: 52px;
    height: auto;
}

.bar {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.bar-tab {
    background-color: #32363C;
    width: 117px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.bar-content {
    max-width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.coin {
    display: flex;
}

.coin img {
    width: 32px;
    height: auto;
}

.progress-bar progress {
    width: 100%;
}

.click-btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button img {
    width: 302px;
    height: auto;
    cursor: pointer;
}