.countdown-popup-window {
    padding: 10px;
    display: flex;
    border: 2px solid white;
    justify-content: center;
    border-radius: 15px;
}

.countdown-popup-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.countdown-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.countdown-box div {
    text-align: center;
    background-color: #1C1F24;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.happy-year-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 2px solid white;
}

.fireworks {
    border: 2px solid red;
    height: 0;
}