.coins {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coins img {
    width: 52px;
    height: auto;
}

.bar {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.bar-tab {
    background-color: #32363C;
    width: 117px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.bar-content {
    max-width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.coin {
    display: flex;
}

.coin img {
    width: 52px;
    height: auto;
}